# === Configurações Bot A (Dispatcher) ===

# Modo de execução Maestro
MAESTRO_ENABLED=true

# Credenciais do BotCity Maestro
BOTCITY_WORKSPACE=
BOTCITY_SERVER=
BOTCITY_LOGIN=
BOTCITY_KEY=

# Fila de Itens e Labels de Orquestração
DATAPOOL_LABEL=FilaAuditoriaLotes-Eqp04
BOTCITY_DISPATCHER_LABEL=italo-dispatcher-v1
BOTCITY_PERFORMER_LABEL=italo-performer-v1
BOTCITY_REPORTER_LABEL=italo-reporter-v1

# Caminhos de Entrada
PASTA_ENTRADA=data/processed
ARQUIVO_CSV_ENTRADA=dados_relatorio.csv
